@import (reference) "../_variables_extend.less";

.theme-button(@type: 'primary') {
    @background-color: ~"@{color-@{type}}";
    @border-color: ~"@{color-@{type}}";
    @flip-fill-color: ~"@{color-@{type}-dark}";

    .lib-button(
        @_button-padding: 10px 40px,
        @_button-color: @color-white,
        @_button-background: @background-color,
        @_button-border: @theme-button-border-width solid @border-color,
        @_button-color-hover: @color-black,
        @_button-background-hover: @color-white,
        @_button-border-hover: @theme-button-border-width solid @border-color,
        @_button-color-active: @color-black,
        @_button-background-active: @color-white,
        @_button-border-active: @theme-button-border-width solid @border-color,
        @_button-font-weight: @theme-button-font-weight
    );
    .dog-ear(
        @flip-fill-color: @flip-fill-color,
        @offset-horizontal: -@theme-button-border-width,
        @offset-vertical: -@theme-button-border-width,
        @flip-size: @theme-button-dog-ear-size
    );
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: @theme-button-letter-spacing;
}

.button-primary() {
    .theme-button('primary');
}

.button-secondary() {
    .theme-button('secondary');
}

.button-tertiary() {
    .theme-button('tertiary');
}
